@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "GentiumBookBasic";
    src: url("/GentiumBookBasic-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

body {
    font-family: "GentiumBookBasic", sans-serif;
}

@media (min-width: 768px) {
 .md\:grid-cols-70\/30 {
        grid-template-columns: 70% 28%
    }
}

